body {
  font-family: "lato", sans-serif;
  background-color: rgb(235, 235, 235);
}

div img {
  -webkit-box-shadow: 10px 16px 15px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 16px 15px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 16px 15px -4px rgba(0, 0, 0, 0.45);
}

@media only screen and (max-width: 600px) {
  #name {
    font-size: 35px;
  }
}

/* Great Gradient Flow */
/* #32cfa7, #ffa400, #8300ff, #4f00ff */
