/* Resume */
body {
  background-color: #001e4b;
  background-image: url("../assets/images/resume-bg.svg");
}

p,
ul {
  font-size: 16px;
}

#resume {
  display: flex !important;
  margin: 0 auto;
  width: 1000px;
  height: 550px;
  background-color: #112544;
  background-image: none;
  color: rgb(255, 255, 255);
  margin-top: 50px !important;
  border-radius: 20px;
}

#title {
  text-align: center;
  color: white;
  height: 70px !important;
}

#title-mobile {
  text-align: center;
  color: white;
  height: 70px !important;
  display: none;
}

.resume-right-parent {
  display: flex;
  flex-direction: column;
}

.date-range {
  float: right;
}

.resume-right {
  display: flex;
  width: 750px;
  height: 550px;
  overflow: hidden;
}

.resume-right-child {
  margin-right: -17px;
  overflow-y: auto;
  padding: 40px;
  padding-top: 20px;
}

.progress-resume {
  width: 300px;
  background-color: white !important;
}

.determinate-resume {
  background-color: blueviolet !important;
}

.resume-left {
  background-color: #172f53;
  display: flex;
  width: 250px;
  height: 550px;
  flex-direction: column;
  border-right: 20px;
}

.resume-left-child {
  margin-top: 30px;
}

.mypic {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 0.6);
}

#icons {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#icons i {
  margin: 7px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#icons i:hover {
  color: rgb(255, 255, 255) !important;
}

#footer_text_main {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #bebebe;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  #resume {
    flex-direction: column;
    width: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    margin-top: 30px !important;
    align-items: center;
  }

  #title {
    display: none;
  }

  #title-mobile {
    display: block;
  }

  .resume-right-parent {
    display: block;
  }

  .resume-right {
    display: block;
    width: auto;
    height: auto;
  }

  .resume-right-child {
    padding: 25px;
    padding-top: 0px;
  }

  .date-range {
    float: none;
    margin-left: 10px;
  }

  .resume-left {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }

  .mypic {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 0.6);
  }

  #icons {
    display: block;
  }

  #footer_text_main {
    position: relative;
    font-size: 12px !important;
  }
}

@media only screen and (max-height: 600px) {
  #footer_text_main {
    position: relative;
  }
}
