@font-face {
  font-family: press-start;
  src: url(/assets/fonts/press-start.ttf);
}

body {
  background: linear-gradient(44deg, #32cfa7, #6200ff, #ffa400, #8300ff);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#snake_div {
  margin-top: 30px;
}

#press {
  margin-top: 20px;
  font-family: press-start, sans-serif;
}

#footer_text_snake {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.snake-close:hover {
  cursor: pointer;
}

#counter_div {
  margin-top: 30px;
  font-family: press-start;
}
